.collapsibleList li > input + * {
	display: none;
}
 
.collapsibleList li > input:checked + * {
	display: block;
}

.collapsibleList li > input {
	display: none;
}

.collapsibleList label {
	cursor: pointer;
}

ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}